body {
  font-family: "Gabarito", Roboto;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #002B11;
}


.nrml_font{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}

#btn{
    padding: 10px 15px;
    color: white;
    background-color:#002B11;
    border-radius: 25px;
    border: none;
    font-family: "Gabarito", Roboto;
    font-weight:500;
    font-size: 16px;
}

#main-container{
    padding: 0px 128px;
    margin-bottom: 64px;
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: white;
}
.header img{
    padding: 10px;
    left: 170px;
    display: inline;
    height: 27px;
    
}

.mid {
    gap: 10px;
    display: flex;
}
.mid h4{
    padding: 10px;
    font-weight:500 ;
}
.login {
    gap: 10px;
    display: flex;
    height: 30px;
}
.hov2{
    gap: 10px;
    padding: 10px;
}


.sign{
    padding: 10px;
    color: white;
    background-color:#002B11;
    border-radius: 20px;
    width: 100%;
}

.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .login .lang .separator {
  color: #888;
}



.where h1{
    text-align: center;   
}
.where .categories{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.where .categories i{
    padding: 5px;
}

.where .categories span:hover{
    text-decoration: underline;
}

.search{
    background-color: #F7F7F7;
    width: 700px;
    border: solid  #DFE1DF 2px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    height: 35px;
    box-shadow: 0px 2px 5px #DFE1DF;
}
.search input{
    color: #757575;
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.search button{
    background-color: #00D352;
    border-radius: 20px;
    padding: 10px;
    border: solid #00AB42 1px;
    color: #002B11;
    font-family: "Gabarito", Roboto;
}
.book_now{
    width: 100%;
    height: 450px;
    background-color: #00EB5B;
    border-radius: 10px;
    position: relative;
}

.book_now .left{
    width: 50%;
    height: 100%;
}
.book_now .left img{
    padding: 16px;
    border-radius: 30px;
    width: 530px;
    height: 415px;
}
.book_now .left .name{
    background-color :#00EB5B;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border:solid 2px #002B11;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.book_now .left .sep{
    height: 407px;
    width: 0.5px;
    background-color: #002B11;
    position: absolute;
    right: 50%;
    top:20px;
}

.book_now .right{
    width: 472px;
    height: 270px;
    position: absolute;
    top: 70px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    text-align: center;

}
.book_now .right h1{
    width:90%;
    font-size: 56px;
    line-height: 80%;
    letter-spacing: -3.5px;
    word-spacing: 2px;
}
.book_now i{
    width: 10px;
    position: absolute;
    bottom: 17px;
    right: 28px;
}


.book_now .right i:hover{
    border-radius: solid black 3px;
}
/* button on click
<i class="fa-solid fa-play"></i> */

.find_things {
    width: 100%;  
}
.find_things h3{
    padding: 50px 0px 10px 0px;
     
}
.find_things .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.find_things img{
    width: 272px;
    height: 272px;
    border-radius: 10px;
}

.img-box {
  position: relative;
  width: 270px;
}

.img-box img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.904),transparent);
  border-radius: 10px;
}

.txt {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.explore{
    width: 100%; 
     
}
.explore h3{
    padding: 50px 0px 10px 0px;
}
.exp_container{
    padding-top: 20px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.explore .img-exp{
    position: relative;
    height: 100%;
    width: 272px;
    position: relative;
}
.explore .img-exp img{
    width: 272px;
    height: 272px;
    border-radius: 10px;
}
.img-exp span{
    color: #38443A;
    font-weight:lighter;
    font-size: 14px;
    padding: 3px 0px;

}
.img-exp p{
    font-size: 18px;
    padding: 3px 0px;

}
.img-exp i{     
    color: #00852F;
    padding: 1px;
}
.img-exp n{
    font-size: 14px;
    display: block;
    padding: 3px 0px;
}
.img-exp .like i{
    color: #002B11;
    font-size: 15px;
}
.img-exp .like{
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    padding: 4px 5px 4px 5px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.donate{
    height: 400px;
    width: 100%;
    background-color: #F7F7F7;
    padding: 24px 0px;
    display: flex;
}

.donate .left div{
    position: relative;
    left: 20px;
}

.donate .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 150px;
}
#grey{
    color: #38443A;
}
.donate .right .logo img{
    height: 15px;
    width: 24px;
    padding-right: 8px;
}

.donate .right .cap{
    font-size: 32px;
    padding: 20px 0px 10px 0px;
}
.donate .right .des {
    padding-bottom:10px ;
}
.saudi{
    padding-top: 20px;
    height: 186px;
    width: 100%;
    background-color: #F7F7F7;
    display: inline-flex;
}
.saudi img{
    height: 170px;
    width: 170px;
    border-radius: 10px;
    transform: rotate(-4deg);
}
.saudi .img{
    padding: 10px;
    max-width: 200px;
    display: inline-block;
}

.saudi .content{
    display: flex;
    flex-direction: column;
    width: 743px;
    justify-content: space-evenly;
    height: 100%;
    padding: 0px 20px;
}
.saudi .content .ad{
    font-size: 12px;
    background-color: #EAEAEA;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    width: fit-content;
}
.saudi .content .heading{
    font-size: 20px;
    font-weight: bold;
}


.saudi .edge{
    margin-top: 110px;
    width: 135px;
}
.saudi .view{
    background-color: #ffff;
    border-radius: 20px;
    border: solid #002B11 1px;
    padding: 10px;
    text-align: center;
}

.explore .place{
    background-color: #F7F7F7;
    font-size: 12px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.donate2{
    height: 400px;
    width: 100%;
    background-color: #F7F7F7;
    padding: 24px 0px;
    display: flex;
}

.donate_left img{
    width: 400px;
    height: 400px;
    position: relative;
    left: 20px;
}

.donate_right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 150px;
} 
.donate_right .logo img{
    height: 15px;
    width: 24px;
    padding-right: 8px;
}

.donate_right .cap{
    font-size: 32px;
    padding: 20px 0px 10px 0px;
}
.donate_right .des {
    padding-bottom:10px ;
    width: 320px;
}
.green_poster{
    background-color: #002B11;
    height: 550px;
    width:100%;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0px 128px;
    position: relative;
}
.green_poster .con{
    width: 456px;
    height: 100%;
    padding: 0px 26px;
    align-items: start;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    top: 30px;
}

.green_poster .con .des{
    font-size: 20px;
    margin: 16px 0px;
}
.green_poster .con .winner{
    background-color: white;
    color: #002B11;
    padding: 24px 17.5px;
    border-radius: 50px;
}
.green_poster .con img{
    width: 65px;
    height: 86px;
}
.green_poster .con .head{
    
    width: 330px;
    height: fit-content;
    font-size: 56px;
    line-height: 90%;
    letter-spacing: -3px;
    word-spacing: 2px;
    display: flex;

}
.green_poster .image {
    position: absolute;
    top: 0;
    right: 200px;
}
.green_poster .image img{
    width: 550px;
}
.find_things .container p{
    padding: 5px;
    font-weight: lighter;
}
.footer{
    background-color: #F7F7F7;
    width: 100%;
    height: 384px;
    padding: 32px 0px;
    display: grid;
    gap: 16px 16px;
    grid-auto-flow: column;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto 1fr;
    
}
.footer .title{
    margin-bottom: 3px;
}
.footer ul{
    list-style-type:none;
}
.footer li{
    padding-top: 7px;
    font-size: 14px;
    font-weight: lighter;
}
.margin{
    margin: 0px 131px;
}
.one{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
    height: 218px;
}
.two{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    height: 175px;
}
.three{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    height: 150px;
}
.four{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    height: 75px;
}
.five{
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
    height: 62px;
}
.six{
    display: flex;
    margin-bottom: 6px;
    align-items: flex-start;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 5;
    height: 64px;
    
}

.six .term{
    text-decoration: underline;
}
.seven{
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 10px;
    height: 35px;
}
.seven select{
    border-radius: 10px;
    width: 150px;
    padding: 0px 10px;
    
}
.eight{
    display: grid;
    grid-auto-flow: column;
    grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
    justify-content: end;
    margin: -12px;
}
.eight i{
    padding: 12px;
    height: 20px;
}

.ai{
    background-color:#34C457 ;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 80px;
    z-index: 2;
    border: solid #002B11 1px;
}

#hov:hover{
    background-color: #E5E5E5;
    transition: 0.2s;
    border-radius: 30px;
    padding: 5px 10px;
}
.hover-overlay {
  position: relative;
  overflow: hidden; 
  
}

.hover-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hover-overlay:hover::after {
  opacity: 1;
}

